@import "helpers.styl"

th.group,
td.group
  width 70px
  fsz(11px)
.group
  .id
    display inline-block
    margin-right 10px
  .value
    display inline-block
.actions
  width 20px
  position relative
  .buttons
    position absolute
    left -8px
    top 8px
    display none
    button
      margin 0 0 8px 0
      min-width 50px
      cursor pointer
tr
  &:hover
    .actions
      .buttons
        display block
  td
    height 44px
