<form [formGroup]='eventForm' (ngSubmit)='submitForm()'>
  <div class="row">
    <label title="Required">
      Type:<span>*</span>
      <input type="text" formControlName="type">
    </label>
    <label title="Required">
      Cow ID:<span>*</span>
      <input type="number" formControlName="cowId">
    </label>
    <label title="Required">
      Animal ID:<span>*</span>
      <input type="number" formControlName="animalId">
    </label>
  </div>

  <div class="row">
    <label>
      Current Group ID:
      <input type="number" formControlName="currentGroupId">
    </label>
    <label>
      Current Group Name:
      <input type="text" formControlName="currentGroupName">
    </label>
  </div>

  <div class="row">
    <label>
      Destination Group ID:
      <input type="number" formControlName="destinationGroup">
    </label>
    <label>
      Destination Group Name:
      <input type="text" formControlName="destinationGroupName">
    </label>
  </div>

  <div class="row">
    <label>
      New Group ID:
      <input type="number" formControlName="newGroupId">
    </label>
    <label>
      New Group Name:
      <input type="text" formControlName="newGroupName">
    </label>
  </div>

  <div class="row">
    <label>
      Age in days:
      <input type="number" formControlName="ageInDays">
    </label>
    <label>
      Lactation number:
      <input type="number" formControlName="lactationNumber">
    </label>
    <label>
      Days in lactation:
      <input type="number" formControlName="daysInLactation">
    </label>
  </div>

  <div class="row">
    <label>
      Start DateTime:
      <input type="number" formControlName="startDateTime">
    </label>
    <label>
      Reporting DateTime:
      <input type="number" formControlName="reportingDateTime">
    </label>
  </div>

  <div class="row">
    <label>
      Health Index:
      <input type="number" formControlName="healthIndex">
    </label>
    <label>
      Min value DateTime:
      <input type="number" formControlName="minValueDateTime">
    </label>
    <label>
      End date:
      <input type="number" formControlName="endDate">
    </label>
  </div>

  <div class="row">
    <label>
      Alert type:
      <input type="text" formControlName="alertType">
    </label>
    <label>
      Duration:
      <input type="number" formControlName="duration">
    </label>
  </div>

  <div class="row">
    <label>
      Original start DateTime:
      <input type="number" formControlName="originalStartDateTime">
    </label>
    <label>
      End DateTime:
      <input type="number" formControlName="endDateTime">
    </label>
  </div>

  <div class="row">
    <label>
      Days in pregnancy:
      <input type="number" formControlName="daysInPregnancy">
    </label>
    <label>
      Heat index peak:
      <input type="number" formControlName="heatIndexPeak">
    </label>
  </div>

  <div class="row">
    <label>
      Calving Ease:
      <input type="text" formControlName="calvingEase">
    </label>
    <label>
      Newborns:
      <input type="number" formControlName="newborns">
    </label>
    <label>
      Birth date calculated:
      <input type="number" formControlName="birthDateCalculated">
    </label>
  </div>

  <div class="row">
    <label>
      Sire:
      <input type="text" formControlName="sire">
    </label>
    <label>
      Breeding Number:
      <input type="number" formControlName="breedingNumber">
    </label>
  </div>

  <div class="row">
    <label>
      Is out of breeding window:
      <input type="text" formControlName="isOutOfBreedingWindow">
    </label>
    <label>
      Interval:
      <input type="number" formControlName="interval">
    </label>
  </div>

  <div class="row">
    <label>
      Deletable:
      <input type="text" formControlName="deletable">
    </label>
  </div>

  <input type="hidden" formControlName="eventId">

  <div class="action">
    <div class="required">* - required fields</div>
    <button type="button" (click)="clearForm($event)">Cancel</button>
    <button type="submit" [disabled]='isDisabled'>{{actionButton}}</button>
  </div>
</form>
